.button,
.icon-button {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;

	color: inherit;
	text-decoration: none;

	cursor: pointer;

	& svg {
		width: 100%;
		height: 100%;
	}
}

.button {
	border: none;
	height: min-content;

	&.button--clear {
		&:hover {
			font-weight: 800;
			/* text-decoration: underline; */
			/* text-shadow: 0px 0px 2px; */
		}
	}

	&.button--solid {
		background-color: var(--color-primary-500);
		color: var(--color-gray-white);
	}

	&.button--ghost {
		font-weight: 600;

		border: 1px solid var(--color-primary-50);
		background: transparent;

		&:hover {
			background: rgba(255, 255, 255, .2);
			transition: background ease-in-out .3s;
		}
	}

	&.button--popup {
		background: none;
		opacity: 0;
		transition: opacity 200ms ease;
	}

	&.button--md {
		padding: 12px 24px;
	}

	&.button--mini {
		padding: 10px 13px;
	}

	&.button--with-icon {
		display: flex;
		align-items: center;
		gap: 8px;

		& svg {
			height: 28px;
			width: 28px;
		}
	}


	&.button--choice--state {
		display: none;
	}

	&.button--choice {
		cursor: pointer;
		background: var(--color-gray-white);
		color: var(--color-primary-400);
		position: relative;

		&::before {
			content: '';
			position: absolute;
			display: none;
			width: 18px;
			height: 9px;
			top: calc(100% - 1px);
			left: 50%;
			clip-path: polygon(50% 100%, 0 0, 100% 0);
			transform: translateX(-50%);
		}
	}

	&.button--choice--state:checked+.button--choice::before {
		background-color: var(--color-primary-500);
		display: block;
	}

	&.button--choice--state:checked+&.button--choice {
		background: var(--color-primary-500);
		color: var(--color-gray-white);
	}
}

.icon-button {
	color: inherit;
	min-width: 24px;
	min-height: 24px;

	&.icon-button--sm {
		padding: 12px;
		width: 40px;
		height: 40px;
	}
}