:root {
	--color-gray-black: #1B1D1F;
	--color-gray-700: #363A3D;
	--color-gray-600: #52565C;
	--color-gray-500: #6D737A;
	--color-gray-400: #889099;
	--color-gray-300: #A0A6AD;
	--color-gray-200: #B8BCC2;
	--color-gray-100: #CFD3D6;
	--color-gray-50: #E7E9EB;
	--color-gray-white: #ffffff;

	--color-primary-900: #0F1320;
	--color-primary-800: #1E2640;
	--color-primary-700: #2C3A61;
	--color-primary-600: #3B4D81;
	--color-primary-500: #4A60A1;
	--color-primary-400: #6E80B4;
	--color-primary-300: #92A0C7;
	--color-primary-200: #B7BFD9;
	--color-primary-100: #DBDFEC;
	--color-primary-50: #EDEFF6;

}