.advence_search {
    position: relative;
    width: min-content;
    margin: 0 auto 0;
    padding: 32px 64px;
    background-color: var(--color-gray-white);
    border-radius: 7px;
    box-shadow: 0 0 400px -20px var(--color-primary-400);

    & .advence_search__choice_type {
        position: absolute;
        top: -50px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;

       
    }

    & .advence_search__form {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 32px;

        & .advence_search__hr {
            background-color: var(--color-gray-black);
        }

        & .advence_search__form__block {
            display: flex;
            gap: 32px;
            justify-content: space-between;
        }

        & .advence_search__form__submit {
            align-self: center;
            justify-self: end;
            margin-left: 32px;

        }

        & .advence_search__form__element {
            display: flex;
            flex-direction: column;
            gap: 16px;
            color: var(--color-primary-700);

            & select {
                border: none;
                padding: 0;
                margin-left: -.2em;

            }
        }
    }
}