.advence_search {
    position: relative;
    width: min-content;
    margin: 0 auto 0;
    padding: 32px 64px;
    background-color: var(--color-gray-white);
    border-radius: 7px;
    box-shadow: 0 0 400px -20px var(--color-primary-400);

    & .advence_search__choice_type {
        position: absolute;
        top: -50px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;


    }

    & .advence_search__form {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 32px;

        & .advence_search__hr {
            background-color: var(--color-gray-black);
        }

        & .advence_search__form__block {
            display: flex;
            gap: 32px;
            justify-content: space-between;
        }

        & .advence_search__form__submit {
            align-self: center;
            justify-self: end;
            margin-left: 32px;

        }

        & .advence_search__form__element {
            display: flex;
            flex-direction: column;
            gap: 16px;
            color: var(--color-primary-700);

            & select {
                border: none;
                padding: 0;
                margin-left: -.2em;

            }
        }
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    & container--city-cards {
        display: flex;

    }
}

.cards-wrapper {
    display: grid;
    grid-gap: 24px;
    position: relative;

    >.card {
        display: flex;
        position: relative;
        flex-direction: column;
        padding: 24px;

        &:hover {
            >.card__button {
                opacity: 1;
            }
        }

        >.card__button {
            opacity: 0;
            transition: all 200ms ease;
            position: absolute;
            display: flex;
            inset: 0;
            margin: auto;
            border: 1px solid var(--color-gray-white);
            color: var(--color-gray-white);
            font-size: 16px;
            width: max-content;


        }

        >.card__background-image {
            position: absolute;
            display: flex;
            inset: 0;
            margin: auto;
            z-index: -1;
        }

        >.card__Map-pin {
            margin-top: auto;
            width: 24px;
            height: 24px;

        }


        &.card--cities {
            display: flex;
            width: 424px;
            height: 241px;

            &.card--big {
                width: 872px;
                grid-column-end: span 2;

            }

            >.card__city-name {
                margin-bottom: 11px;
                color: var(--color-gray-white);
                font-weight: 600;
                font-size: 24px;
                padding-top: 4px;
                padding-bottom: 4px;
            }

            >.card__num-listings {
                color: var(--color-gray-white);
                font-size: 16px;
                padding-top: 4px;
                padding-bottom: 4px;
            }
        }
    }

    &.cards-wrapper--cities-items {
        grid-template: 1fr 1fr / 1fr 1fr 1fr;
    }


}