@font-face {
    font-family: Inter;
    src: url(../fonts/Inter/Inter-V.ttf);

}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter;
}

html,
body {
    min-height: 100dvh;
    min-width: 100dvw;
}

a {
    color: inherit;
    text-decoration: none;
}

.wrapper {
    height: 100%;
    margin: 0 auto;
}

.logo {
    & svg {
        width: 120px;
        height: 44px;
    }
}

.page {
    background: black url(../images/Header.png) no-repeat center/cover;
    color: var(--color-white);
    height: 750px;
}

.hr {
    background-color: var(--color-white);

    &.hr--v {
        height: 100%;
        width: 1px;
    }

    &.hr--h {
        width: 100%;
        height: 1px;
    }
}
