@font-face {
    font-family: Inter;
    src: url(../fonts/Inter/Inter-V.ttf);

}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter;
}

html,
body {
    min-height: 100dvh;
    min-width: 100dvw;
}

address{
    font-style: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

.wrapper {
    height: 100%;
    margin: 0 auto;
}

.title {
    /* padding-top: 100px; */
    padding-bottom: 100px;
    width: 696px;
    margin-left: auto;
    margin-right: auto;

    /* padding-left: 32dvh;
    padding-right: 32dvh; */

    & h2 {
        margin-bottom: 40px;
        font-size: 40px;
        font-weight: 600;
        color: var(--color-primary-800);
        text-align: center;
    }

    & h3 {
        font-weight: 400;
        font-size: 20px;
        color: var(--color-gray-400);
        text-align: center;

    }
}

.start_screen {
    position: relative;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: calc(133px/2);
    gap: 150px;

    &::before {
        content: '';
        display: block;
        position: absolute;
        background: black url(../images/Header.png) no-repeat center/cover;
        inset: 0 0 133px 0;
        z-index: -1;
    }

    .title {

        & h2 {
            color: var(--color-gray-white);
            font-size: 52px;
            font-family: Public-Sans;
        }

        & h3 {
            color: var(--color-primary-50);
        }
    }
}


.logo {
    & svg {
        width: 120px;
        height: 44px;
    }
}

.hr {
    /* background-color: var(--color-gray-white); */

    &.hr--v {
        height: 100%;
        width: 1px;
    }

    &.hr--h {
        min-width: 100%;
        height: 1px;
    }
}