@font-face {
    font-family: Inter;
    src: url(../fonts/Inter/Inter-V.ttf);

}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter;
}

html,
body {
    min-height: 100dvh;
    min-width: 100dvw;
}

a {
    color: inherit;
    text-decoration: none;
}

h2 {
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 600;
    color: var(--color-primary-800);
    text-align: center;
}

h3 {
    font-weight: 400;
    font-size: 20px;
    color: var(--color-gray-400);
    text-align: center;

}

.title {
    padding-left: 30dvh;
    padding-right: 30dvh;
}

.wrapper {
    height: 100%;
    margin: 0 auto;
}

.logo {
    & svg {
        width: 120px;
        height: 44px;
    }
}

.page {
    background: black url(../images/Header.png) no-repeat center/cover;
    height: 100dvh;
}

.hr {
    background-color: var(--color-gray-white);

    &.hr--v {
        height: 100%;
        width: 1px;
    }

    &.hr--h {
        width: 100%;
        height: 1px;
    }
}